{
  "DiagnosisRoadmapFunction": {
    "SUPABASE_URL": "<SUBSTITUIR_URL_DE_SUPABASE>",
    "SUPABASE_KEY": "<SUBSTITUIR_KEY_DE_SUPABASE>",
    "GOOGLE_GENERATIVE_AI_API_KEY": "<SUBSTITUIR_API_KEY_DE_GOOGLE>"
  }
}